<div>
  <%= link_to 'New post', new_twitt_path, class: "btn btn-info offset-9 mb-2 text-white" %>
</div>
<div class="col-md-8 offset-2">
  <div class="h-100 p-5 bg-light border rounded-3">
    <% @twitts.each do |twitt| %>
     <div class="d-flex justify-content-between align-items-center">
       <p class="text-info h4"><%= twitt.user.name%></p>
       <div class=""><time datetime="<%= twitt.showed_created_at %>" class="text-info h6">
         <%= twitt.showed_created_at %>
       </time>
       </div>
     </div>
      <div class="card border-white">
        <div><%= twitt.body %></div>
      </div>
      <div class="mt-2 mb-3 d-flex gap-2">
        <% if current_user&.id == twitt.user_id %>
          <%= link_to 'Edit', edit_twitt_path(twitt), class: "btn btn-outline-info" %>
          <%= button_to "delete", twitt, method: :delete, :confirm=>'Are you sure?', class: "btn btn-outline-info" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>